body {
  font-family: 'Gloria Hallelujah', cursive;
}

.container {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.player-column {
  flex: 1 0;
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 110px;
  margin: 0;
}

p {
  font-size: 100px;
  margin: 0;
}

.reset-btn {
  font-family: 'Gloria Hallelujah', cursive;
  border: none;
  border-radius: 5px;
  background: orange;
  display: block;
  font-size: 40px;
  width: 300px;
  height: 90px;
  margin: 150px auto;
}
